<section class="todoapp">
	<header class="header">
		<!-- Allows for new tasks to be added -->
		<h1>todos</h1>
		<form id="new-form">
			<input type="text" class="new-todo" placeholder="Enter a new task:" />
		</form>
	</header>
	
	<section class="main">
		<ul class="todo-list">
			
		</ul>
	</section>
</section>

<!-- A basic about section -->
<section class="author">
	A <%= link_to "todo-mvc", "http://todomvc.com" %>
	application, built by
	<%= link_to "Simon Fuchs", "https://github.com/sfuchs42" %>
</section>
